@page
@model BookList.CreateModel

<br/>
<h2 class="text-dark">新しい本を追加</h2>
<br/>

<div class="border container" style="padding:30px;">
    <form method="post">
        <div class="form-grop row"> <!--form-groupだと入力フォームの幅が広がってしまった--> <!--rowがないとラベルのあとのフォームコントロールが改行された-->
            <div class="col-4"> <!--col-4はラベルとフォームコントロールの間の間隔-->
                <label asp-for ="Book.Id"></label> 
            </div>
            <div class="col-6">
                <label asp-for="Book.Id" class="form-control" /> <!--入力フォームではなくただのラベルになっている-->
            </div>
        </div>
        <div class="form-grop row"> <!--rowを追加するので改行-->
            <div class="col-4">
                <label asp-for="Book.Name">名前</label>
            </div>
            <div class="col-6">
                <label asp-for="Book.Name" class="form-control" />
            </div>
        </div>
        <div class="form-grop row">
            <div class="col-4">
                <label asp-for="Book.Author">筆者</label>
            </div>
            <div class="col-6">
                <label asp-for="Book.Author" class="form-control" />
            </div>
        </div>
        <div class="form-grop row">
            <div class="col-4"> <!--col-4の数値を増やすとラベルの幅が広がるのでフォームコントロールが押し出される-->
                <label asp-for="Book.ISBN"></label>
            </div>
            <div class="col-6"> <!--col-6の数値を増やすとフォームコントロールの幅が広がる-->
                <label asp-for="Book.ISBN" class="form-control" />
            </div>
        </div>
        <div class="form-grop row">
            <div class="col-3 offset-4"> <!--offset-4がないとボタンの配置が左詰め--> <!--col-3がないと作成ボタンが圧縮される-->
                <input type="submit" value="作成" class="btn btn-primary form-control"/> <!--form-controlがないとボタンのサイズが小さくなる-->
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">戻る</a> @*asp-page="Index"でIndexページに移動する*@
            </div>
        </div>
    </form>
</div>