@page
@model BookList.IndexModel
@{
    ViewData["Title"] = "index";  //ページのタイトルにつけられる
}


<br />
<div class="container row p-0 m-0">
    <!--それぞれはclassはSassで設定されている-->
    <div class="col-9">
        <h1><font class="text-dark">商品リスト</font></h1>
    </div>
    
    <div class="col-3">
            <input type="button" value="新しい本を追加" />
        <a asp-page="Create" class="btn btn-info form-control text-white">新しい本を追加</a> <!--Sassのclassのbtnでhtmlのinputタグで作るボタンが出現-->
    </div>

    

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if(Model.Books.Count() > 0)
            {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <!--thは見出し、trは行、tdは要素--> <!--行（横）ができる-->
                    <th> <!--タイトル（テーマ）を表示-->
                        <label asp-for="Books.FirstOrDefault().Id"></label>
                    </th>
                    <th>
                        <label>名前</label>
                    </th>
                    <th>
                        <label>筆者</label>
                        @*<label asp-for="Books.FirstOrDefault().Author"></label>*@  <!--DBのカラム名を参照してるから変えられない？-->
                    </th>
                    <th>
                        <label>ISBN</label>
                    </th>
                </tr>
                @foreach (var item in Model.Books) @*IndexModelのpublic IEnumerable<Book> Booksプロパティ*@
                {
            <tr>
                <!--行（横）ができる-->
                <td>
                    @Html.DisplayFor(m => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ISBN)
                </td>
                <td>
                    <button class="btn btn-danger btn-sm">削除</button>
                    <a class="btn btn-success btn-sm text-white">編集</a>
                    <a><input type="button" name="無" value="無"></a>
                </td>
            </tr>
                }
            </table>
            }
             else
            {
                <p>利用可能な本はありません</p>
            }
        </form>

    </div>


</div>